*{
    padding: 0;
    margin: 0;
    font-size: 16px;
     font-family: "Merriweather", serif;
}
.review{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 40px;
   
}
.review-box{
    width:90%;
    height:50%;
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;
    
    border-radius: 20px;
    
}
.review-box1{
    flex-direction: row-reverse;
}
.review-img{
    width:30%;
    height:100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.review-comment{
    width:70%;
   
    height:100%;

     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}
.reviewProfile{
    width:60%;
    height:60%;
    object-position: center;
    object-fit: cover;
     border-radius: 10px;

}
.reviewFeedback{
    font-size: 1.5em;
    width: 90%;
}
.user-name{
    font-size: 1.2em;
    margin: 1%;
    color:blue
}
@media (max-width:468px){
    .review-img{
    width:50%;
}
}